
html {background-color: rgb(154, 158, 157);}

body {
	width: 100%;
	max-width: 1700px;
	padding: 5px 10px;
	display: flex;
	flex-direction: column;
	border: 1px solid #000;
	}

h1 { text-align: center;}

#link_bar a{color: black;}
#link_bar a:link{color: black;}
#link_bar a:visited{color: black;}
    
    nav {text-align: center;}

.responsive {
    width: 100%;
    max-width: 280px;
    height: auto;
    max-height: 180px;
  }

  .header-image {
      display: block;
      margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
    width: 100%;
    max-width: 800px;
    height: auto;
    max-height: 400px;
  }

  .sports-header {display: block;
margin-left: auto;
margin-right: auto;
margin-top: 70px;
  width: 100%;
  max-width: 300px;
  height: auto;
  max-height: 300px;}

  #article,#article2, h2, #sports-article,#paragraph1 {text-align: center;}

  #article2,#sports-article {margin-bottom: 50px;}


  .footer {
    margin-top: 240px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
  }

#flex-container {
    margin-top: 120px;
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  }

  .re {
margin-right: 15px;
}

table{margin-left: auto;
margin-right: auto;}

.tg  {border-collapse:collapse;border-spacing:3;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-c4ww{background-color:#cbcefb;border-color:inherit;text-align:center;vertical-align:top}
.tg .tg-rsho{background-color:#cbcefb;border-color:inherit;color:#000000;text-align:center;vertical-align:top}
.tg .box{border-color:inherit;text-align:center;vertical-align:top}


    form {
       display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      input[type=textarea] {
        width: 70%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        resize: none;
      }

      input[type=submit] {margin-bottom: 15px;}

      @media screen and (min-width: 1000px) {

        .responsive{
            width: 100%;
            max-width: 300px;
            height: auto;
            max-height: 200px;}
          
      }